<template>
  <b-container class="contacts-page">
    <b-row>
      <b-col>
        <b-breadcrumb :items="breadcrumbItems" />
        <h2>Контакты</h2>

        <filters :filters="filters" />
        <b-table striped hover :items="tableItems" :fields="fields" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Filters from "@/components/Filters";

export default {
  name: "Contacts",
  components: { Filters },
  provide: function () {
    return {
      filters: this.filters,
    };
  },
  data() {
    return {
      breadcrumbItems: [
        {
          text: "CRM",
          to: "/cabinet/crm/",
        },
        {
          text: "Контакты",
          active: true,
        },
      ],
      fields: [
        {
          key: "name",
          label: "Имя",
        },
        {
          key: "phone",
          label: "Телефон",
        },
      ],
      filters: {
        name: "",
        phone: "",
      },
    };
  },
  computed: {
    tableItems() {
      return this.$store.getters["getContactItems"](this.filters);
    },
  },
};
</script>
