<template>
  <b-form inline>
    <label class="mr-sm-2">Фильтр:</label>

    <filter-field id="inline-form-input-name" class="mb-2 mr-sm-2 mb-sm-0" placeholder="Имя" filter-name="name" />
    <filter-field id="inline-form-input-phone" placeholder="Телефон" filter-name="phone" />
  </b-form>
</template>

<script>
import FilterField from "./FilterField";

export default {
  name: "Filters",
  components: { FilterField },
};
</script>
