body,
#app,
.cabinet-wrapper {
  min-height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #fbfbfb;
}

.cabinet-wrapper {
  width: 100%;
  max-width: 960px;
}
